*{
  margin: 0;
  padding: 0;
  font-family: Arial;
}
body{
  height: 1800px;
}
th{
  min-width: 100px;
  background-color: #ADD8E6;
  font-size: 14px;
  padding: 10px 10px;
  margin: 0px;
}
tr:first-child{
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
}
table{
  width: auto;
  overflow-x: auto;
  display: block;
}
tr{
  width: 100%;
}
td:first-child{
  background-color: #ADD8E6;
  font-size: 14px;
  padding: 10px 0;
  margin: 0px;
  font-weight: 600;
  position: sticky;
  left: 0;
}
td{
  text-align: center;
  min-width: 100px;
  padding: 10px 10px;
  font-size: 15px;
}
tr:nth-child(even){
  background-color: #E9E9E9;
}